@import "/src/assets/scss/typography";

.arrangment {
  &__header {
    max-width: 130rem;
    margin: 0 auto;
  }

  &__heading {
    margin-bottom: 2rem;
  }

  &__empty {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
  }

  &__img {
    width: 100%;
    margin: 1.2rem auto 2rem auto;
  }
}

.arrangment__desc {
  font-size: 1.6rem;
}

.products-wrap {
  margin-top: 4rem;
}

.products-wrap__heading {
  text-align: center;
  margin-top: 6rem;
}
