<div class="advantages">
  <div class="advantage">
    <img class="advantage__img" src="assets/images/security.svg" alt="Bezpieczeństwo 
        oraz szybkość płatności">
    <h2 class="advantage__header">Bezpieczeństwo oraz szybkość płatności</h2>
  </div>

  <div class="advantage">
    <img class="advantage__img" src="assets/images/inspiration.svg" alt="Doradzamy i inspirujemy">
    <h2 class="advantage__header">Doradzamy i inspirujemy</h2>
  </div>

  <div class="advantage">
    <img class="advantage__img" src="assets/images/transport.svg" alt="Odbiór w salonie lub dostawa do domu">
    <h2 class="advantage__header">Odbiór w salonie lub dostawa do domu</h2>
  </div>

  <div class="advantage">
    <img class="advantage__img" src="assets/images/smile.svg" alt="Zadowoleni klienci">
    <h2 class="advantage__header">Zadowoleni klienci</h2>
  </div>
</div>
