.alert {
  position: absolute;
  bottom: 1rem;
  border-radius: 5px;
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem 1.6rem;
  left: 50%;
  z-index: 100;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  font-weight: 500;
  animation: fadeIn .5s forwards;
  transform-origin: 0;
  cursor: pointer;

  &--success {
    background-color: var(--color-success);
    color: var(--color-light);
  }

  &--error {
    background-color: var(--color-danger);
    color: var(--color-light);
  }
}
