<div class="group container" *ngIf="!isLoading && group">
  <!-- <h1 class="group__heading heading heading--primary">{{group.name}}</h1>
    <div class="group__categories">
      <a [routerLink]="['/kategoria', category.id]" class="group__category" *ngFor="let category of group.categories">
        <div *ngIf="category.icon" class="group__category__icon" [innerHtml]="category.icon | safe:'html'">
        </div>
        <div class="group__category__link">{{category.name}}</div>
      </a>
    </div>
    <div class="products-wrap">
      <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
    </div>
    <div class="group__empty" *ngIf="products.length == 0">
      <p>
        Przepraszamy, nie ma tutaj żadnych produktów.
      </p>
    </div> -->
  <app-pagination
    [pageName]="group.name"
    [pageId]="group.id"
    [type]="'groups'"
    [options]="options"
    [products]="products"
    [totalItems]="totalItems"
    [priceMax]="priceMax"
    [widthMin]="widthMin"
    [widthMax]="widthMax"
    [depthMin]="depthMin"
    [depthMax]="depthMax"
    [heightMin]="heightMin"
    [heightMax]="heightMax"
    [itemsPerPage]="itemsPerPage"
    [currPage]="currPage"
    (newOptions)="search($event)"
    [productsLoading]="productsLoading"
  ></app-pagination>
</div>

<div class="loading" *ngIf="isLoading">
  <div class="lds-roller lds-roller--dark">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
