:root {
  /* COLOR VARIABLES */
  --color-primary: #D9C2AD;
  --color-primary-darker: #BEA078;
  --color-primary-lighter: #FAF3ED;

  --color-secondary: #A6442E;

  --color-light: #fff;
  --color-light-2: #fefefe;

  --color-dark: #212626;


  /* FONT VARIABLES */
  --font-primary: 'Nunito', sans-serif;
  --font-secondary: 'Josefin Sans', sans-serif;
}
