<div class="login container">
  <h1 class="login__header heading heading--primary">Podaj nowe hasło</h1>
  <form class="login__form form" #formLogin="ngForm" (ngSubmit)="onSubmit(formLogin)">
    <div class="form__group form__group--password">
      <input id="password" name="password" type="password" class="form__input" placeholder="Hasło min. 8 znaków"
        minlength="8" ngModel required #password="ngModel">
      <label for="password" class="form__label">Hasło</label>
    </div>

    <div class="form__group form__group--passwordConfirm">
      <input id="passwordConfirm" name="passwordConfirm" type="password" class="form__input"
        placeholder="Potwierdź hasło" minlength="8" ngModel required #passwordConfirm="ngModel">
      <label for="passwordConfirm" class="form__label">Potwierdź hasło</label>
    </div>

    <div class="form__group form__group--validation" *ngIf="!isPasswordCorrect">
      Hasła nie są takie same!
    </div>

    <div class="form__group form__group--btn">
      <button type="submit" class="contact__btn btn btn--primary btn--animated">Przywróć hasło</button>
    </div>
  </form>
</div>
<div class="alert alert--error" *ngIf="isSuccess == false && isError == true"
  (click)="isSuccess = false; isError = false;">
  Nie udało się przywrócić hasła :( Prosimy o ponowienie próby za chwilę lub o kontakt.
</div>

<div class="alert alert--success" *ngIf="isSuccess == true && isError == false"
  (click)="isSuccess = false; isError = false;">
  Wiadomość zostałą wysłana! Prosimy sprawdzić skrzynkę pocztową.
</div>
