<div class="rooms">
  <div class="room" *ngFor="let room of rooms" [routerLink]="['/pomieszczenie', room.shortenUrl]">
    <div [innerHtml]="room.icon | safe:'html'" class="room__img"></div>
    <a [routerLink]="['/pomieszczenie', room.shortenUrl]" class="room__link">{{room.name}}</a>
  </div>
</div>

<div class="loading" *ngIf="isLoading">
  <div class="lds-roller">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
