<div class="favourites">
  <h2 class="favourites__heading heading heading--secondary">Zapisane produkty</h2>
  <div class="content">
    <div class="products-wrap">
      <app-product-card *ngFor="let product of products" [product]="product" [isFavourite]="true"></app-product-card>
    </div>
    <div class="loading" *ngIf="isLoading">
      <div class="lds-roller lds-roller--dark">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>
