@import "/src/assets/scss/button";
@import "/src/assets/scss/form";
@import "/src/assets/scss/alerts";
@import "/src/assets/scss/loading-spinner";
@import "/src/assets/scss/typography";

.checkout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  background-color: var(--color-light);
  z-index: 2000;
  overflow-y: scroll;
  padding-bottom: 10rem;

  @media only screen and (max-width: 600px) {
    padding-bottom: 2rem;
  }

  &__header {
    border-bottom: 1px solid var(--color-dark);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2rem;

    img {
      cursor: pointer;

      @media only screen and (max-width: 600px) {
        display: none;
      }
    }
  }

  &__content {
    padding: 0 5vw;
    max-width: 130rem;
    margin: 0 auto;
    margin-top: 1rem;
    font-size: 1.6rem;
  }

  &__footer {
    border-top: 1px solid var(--color-dark);
    padding: 1.6rem 0 1.2rem 0;
    margin-top: 6.4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;

    h4 {
      color: var(--color-dark);
      font-family: var(--font-secondary);
    }

    p {
      color: #8b8b8b;
    }

    &__number {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      font-weight: 400;

      img {
        filter: var(--color-dark-filter);
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }

  &__summary__container {
    max-width: 60rem;
    margin-top: 2rem;
  }

  &__total-value {
    text-align: end;

    span {
      font-weight: 700;
    }
  }

  &__data {
    margin-top: 2rem;
  }

  &__data__container {
    margin-top: 2rem;
    max-width: 70rem;
  }
}

.item {
  display: grid;
  grid-template-columns: 2fr 1fr;

  margin-bottom: 2rem;

  &__name {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    cursor: pointer;

    img {
      width: 7rem;
    }
  }

  .name,
  .quantity {
    line-height: 1.1;
  }

  .version {
    font-size: 1.4rem;
    display: inline-flex;
    align-self: center;
    align-items: center;
    gap: 0.8rem;

    position: relative;

    &::after {
      content: '';
      height: 100%;
      width: 1px;
      background-color: var(--color-dark);
      position: absolute;
      left: 6px;
    }

    &__img {
      background: center center/cover;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
    }
  }

  .name {
    font-weight: 700;
  }

  &__price {
    align-self: center;
    font-weight: 700;
    justify-self: flex-end;
  }
}

.form {
  display: grid;
  row-gap: 1.6rem;

  &__group {
    &--regulamin {
      margin-top: 1rem;

      input {
        margin-right: 0.8rem;
      }

      sup {
        color: var(--color-secondary);
      }

      a {
        color: var(--color-primary-darker);
      }
    }

    &--btn {
      justify-self: flex-end;
    }
  }

  .error {
    color: var(--color-danger);
  }
}

.old-price {
  color: var(--color-grey-dark-2);
  font-size: 1.2rem;
  text-decoration: line-through;
}

.old-price,
.new-price {
  display: block;
  line-height: 1;
  text-align: end;
}
