<div class="pagination container">
  <div class="pagination__header heading heading--primary" *ngIf="pageName">
    {{ pageName
    }}<span class="pagination__header__amount"> ({{ totalItems }})</span>
  </div>
  <div class="pagination__sorting">
    <div class="pagination__sorting__wrapper">
      <div class="pagination__price-range">
        <div class="pagination__price-range__wrapper">
          <ngx-slider
            [(value)]="priceMin"
            [(highValue)]="priceMax"
            [options]="sliderOptions"
            (userChangeEnd)="search()"
          ></ngx-slider>
        </div>
        <div class="pagination__price-range__inputs">
          <span class="pagination__price-range__inputs__title"
            >Cena (zł):
          </span>
          <div class="form__group">
            <input
              id="priceMin"
              name="priceMin"
              type="number"
              min="0"
              class="form__input"
              (change)="search()"
              [(ngModel)]="priceMin"
            />
          </div>
          <div class="pagination__price-range__inputs__seperator">-</div>
          <div class="form__group">
            <input
              id="priceMax"
              name="priceMax"
              type="number"
              min="0"
              class="form__input"
              (change)="search()"
              [(ngModel)]="priceMax"
            />
          </div>
        </div>
      </div>
      <select
        name="sortDirection"
        id="sortDirection"
        class="pagination__sorting form__select"
        (change)="search()"
        [(ngModel)]="sortDirection"
      >
        <option value="0">Sortowanie domyślne</option>
        <option value="1">Cena - od najniższej</option>
        <option value="2">Cena - od najwyższej</option>
      </select>
    </div>
  </div>

  <div class="pagination__wrapper">
    <div class="pagination__filters">
      <div class="pagination__filter" *ngIf="groups.length">
        <h3 class="pagination__filter__name">Kategoria</h3>
        <div class="pagination__filter__items">
          <div class="pagination__filter__item" *ngFor="let item of groups">
            <label class="control control-checkbox">
              {{ item.name }}
              <input
                type="checkbox"
                (change)="search()"
                [(ngModel)]="item.isChecked"
              />
              <div class="control_indicator"></div>
            </label>
          </div>
        </div>
      </div>
      <div class="pagination__filter" *ngIf="rooms.length">
        <h3 class="pagination__filter__name">Pomieszczenie</h3>
        <div class="pagination__filter__items">
          <div class="pagination__filter__item" *ngFor="let item of rooms">
            <label class="control control-checkbox">
              {{ item.name }}
              <input
                type="checkbox"
                (change)="search()"
                [(ngModel)]="item.isChecked"
              />
              <div class="control_indicator"></div>
            </label>
          </div>
        </div>
      </div>
      <div class="pagination__filter">
        <h3 class="pagination__filter__name">Szerokość [cm]</h3>
        <div class="pagination__filter__sliders">
          <div class="form__group">
            <input
              id="widthMin"
              name="widthMin"
              type="number"
              min="0"
              class="form__input"
              (change)="search()"
              [placeholder]="widthMin ? widthMin : 'od'"
              [(ngModel)]="widthMinModel"
            />
          </div>
          <div class="pagination__filter__sliders__seperator">-</div>
          <div class="form__group">
            <input
              id="widthMax"
              name="widthMax"
              type="number"
              min="0"
              class="form__input"
              (change)="search()"
              [placeholder]="widthMax ? widthMax : 'do'"
              [(ngModel)]="widthMaxModel"
            />
          </div>
        </div>
      </div>
      <div class="pagination__filter">
        <h3 class="pagination__filter__name">Wysokość [cm]</h3>
        <div class="pagination__filter__sliders">
          <div class="form__group">
            <input
              id="heightMin"
              name="heightMin"
              type="number"
              min="0"
              class="form__input"
              (change)="search()"
              [placeholder]="heightMin ? heightMax : 'od'"
              [(ngModel)]="heightMinModel"
            />
          </div>
          <div class="pagination__filter__sliders__seperator">-</div>
          <div class="form__group">
            <input
              id="heightMax"
              name="heightMax"
              type="number"
              min="0"
              class="form__input"
              (change)="search()"
              [placeholder]="heightMax ? heightMax : 'do'"
              [(ngModel)]="heightMaxModel"
            />
          </div>
        </div>
      </div>
      <div class="pagination__filter">
        <h3 class="pagination__filter__name">Głębokość [cm]</h3>
        <div class="pagination__filter__sliders">
          <div class="form__group">
            <input
              id="depthMin"
              name="depthMin"
              type="number"
              min="0"
              class="form__input"
              (change)="search()"
              [placeholder]="depthMin ? depthMin : 'od'"
              [(ngModel)]="depthMinModel"
            />
          </div>
          <div class="pagination__filter__sliders__seperator">-</div>
          <div class="form__group">
            <input
              id="depthMax"
              name="depthMax"
              type="number"
              min="0"
              class="form__input"
              (change)="search()"
              [placeholder]="depthMax ? depthMax : 'do'"
              [(ngModel)]="depthMaxModel"
            />
          </div>
        </div>
      </div>
      <div class="pagination__filter">
        <h3 class="pagination__filter__name">Wybierz kolor:</h3>
        <div class="form__group colors">
          <div class="colors__wrapper">
            <div
              *ngFor="let color of colors"
              class="color"
              [ngClass]="{ selected: selectedColors.includes(color) }"
              (click)="selectColor(color)"
              [style.background-color]="color.colorCode"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination__products">
      <div class="products-wrap--paginated products">
        <app-product-card
          *ngFor="
            let product of products
              | paginate
                : {
                    itemsPerPage: itemsPerPage,
                    currentPage: currPage,
                    totalItems: totalItems
                  }
          "
          [product]="product"
        ></app-product-card>
        <div class="pagination__products__paginator">
          <pagination-controls
            (pageChange)="onPageChange($event)"
            previousLabel="Poprzednia"
            nextLabel="Następna"
          ></pagination-controls>
        </div>
      </div>
      <div class="products__empty" *ngIf="products.length == 0">
        <p>Przepraszamy, nie ma tutaj jeszcze żadnych produktów.</p>
      </div>
    </div>
  </div>
</div>

<div class="loading" *ngIf="productsLoading">
  <div class="lds-roller lds-roller--dark">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
