@import "/src/assets/scss/typography";
@import "/src/assets/scss/button";
@import "/src/assets/scss/form";
@import "/src/assets/scss/loading-spinner";

.pagination {
  &__header__amount {
    font-weight: 400;
    font-size: 1.8rem;
  }

  &__sorting {
    gap: 2rem;
    display: flex;
    justify-content: flex-end;
    height: 5.6rem;
    margin-top: 2rem;

    @media only screen and (max-width: 500px) {
      margin-top: 1rem;
      height: initial;
    }

    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: space-between;
      gap: 1.6vw;
      width: 70%;

      @media only screen and (max-width: 768px) {
        width: 100%;
      }

      @media only screen and (max-width: 500px) {
        grid-template-columns: 1fr;
        gap: 0;
      }
    }
  }

  &__price-range {
    &__wrapper {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      margin-top: -2rem;

      @media only screen and (max-width: 500px) {
        margin-top: 0;
      }
    }

    &__inputs {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      justify-content: space-between;

      &__title {
        font-size: 1.4rem;
        font-weight: 400;
        white-space: nowrap;
      }

      .form__group input {
        padding: 0.4rem 1.4rem !important;
        text-align: center;
      }

      &__seperator {
        font-size: 3rem;
      }
    }
  }

  .products {
    @media only screen and (max-width: 500px) {
      margin-top: 3rem;
    }
    
    &__empty {
      font-size: 2rem;
      font-weight: 400;
    }
  }

  &__filter {
    margin-bottom: 1.6rem;

    &__name {
      font-size: 1.8rem;
      margin-bottom: 1.2rem;
    }

    &__sliders {
      display: flex;
      align-items: center;
      gap: 0.8rem;

      &__seperator {
        font-weight: 700;
        font-size: 2.2rem;
      }

      .form__input {
        padding: 0.6rem 1rem;
      }
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 22rem 1fr;
    gap: 3vw;
    margin-top: 6rem;
  }
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 100000;
  background-color: rgba(217, 194, 173, 10%);

  .lds-roller {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
  }

  .lds-roller--dark div:after {
    background: var(--color-primary-darker) !important;
  }
}