<section class="section container">
  <div class="section__content">
    <app-promotions></app-promotions>
  </div>
</section>

<section class="section container">
  <h1 class="section__header">Nasze <strong>aranżacje</strong></h1>
  <div class="section__content">
    <app-arrangements></app-arrangements>
  </div>
</section>

<section class="section">
  <div class="section__content">
    <app-advantages></app-advantages>
  </div>
</section>

<section class="section container">
  <h1 class="section__header"><strong>Odkryj</strong> coś nowego</h1>
  <div class="section__content">
    <app-newest-products></app-newest-products>
  </div>
</section>

<section class="section container">
  <h1 class="section__header">Stwórz <strong>wyjątkowe wnętrze</strong></h1>
  <h2 class="section__desc">Dla jakiego pomieszczenia szukasz mebli?</h2>
  <div class="section__content">
    <app-categories></app-categories>
  </div>
</section>

<section class="section container">
  <h1 class="section__header"><strong>Ostatnio</strong> oglądane</h1>
  <div class="section__content">
    <app-latest-products></app-latest-products>
  </div>
</section>

<section class="motto">
  Meble. Wnętrza. Aranżacje.
</section>
