<div class="product">
  <div class="product__save">
    <img src="assets/images/favourite.svg" alt="Zapisz do polubionych">
  </div>
  <div class="product__img">
    <img [routerLink]="['/produkt', product.id]"
      [src]="product.photo ? url+'photos/'+product.photo : 'assets/images/logo.svg'" [alt]="product.name">
  </div>
  <a [routerLink]="['/produkt', product.id]" class="product__name">{{ product.name }}</a>
  <div [routerLink]="['/produkt', product.id]" class="product__price">{{ product.price }} zł</div>
  <div class="product__cart">
    <img (click)="addToCart(product)" src="assets/images/cart.svg" alt="Dodaj do koszyka">
  </div>
</div>
