<div class="promotions" *ngIf="!isLoading">
  <div class="promotions__image">
    <swiper #swiperRef [config]="config" (slideChange)="onSlideChange($event)">
      <ng-template
        *ngFor="let promotion of promotions; let i = index"
        swiperSlide
      >
        <div>
          <a [routerLink]="['/promocja', promotion.id]">
            <img
              class="promotion__image"
              [title]="promotion.name"
              [src]="
                promotion.photo
                  ? url + 'photos/' + promotion.photo
                  : 'assets/images/logo.svg'
              "
              [alt]="promotion.name"
            />
          </a>
        </div>
      </ng-template>
    </swiper>
  </div>
  <div class="promotions__list" #promotionsList>
    <div
      class="promotions__item"
      [ngClass]="{'active': i == 0}"
      *ngFor="let promotion of promotions; let i = index"
      (click)="slideTo(i)"
    >
      {{ promotion.name }}
    </div>
  </div>
</div>
