<div class="nav">
  <div class="nav__container container">
    <div class="nav__menu">
      <div class="nav__button" (click)="isSidebarVisible = true;">
        <span class="nav__icon">&nbsp;</span>
      </div>

      <div class="control__popout">
        <a>kategorie <img class="arrow" src="assets/images/arrow.svg"></a>
        <div class="control__popout__pad"></div>
        <div class="control__popout__window">
          <div class="window__content">
            <div class="categories">
              <div class="categories__header">Kategorie</div>
              <div class="categories__content">
                <a [routerLink]="['/kategoria', category.id]" class="categories__item"
                  *ngFor="let category of categories">{{ category.name }}</a>
              </div>
            </div>

            <a routerLink="/aranzacje" class="arrangaments window__link">Zobacz wszystkie aranżacje</a>
          </div>
        </div>
      </div>

      <div class="nav__item" routerLink="/o-nas" routerLinkActive="active">
        <a>o nas</a>
      </div>

      <div class="nav__item" routerLink="/kontakt" routerLinkActive="active">
        <a>kontakt</a>
      </div>
    </div>

    <img src="assets/images/logo.svg" routerLink="/" alt="Logo sklepu meblowego Maxii Home" class="nav__logo">
    <img src="assets/images/simple-logo.svg" routerLink="/" alt="Logo sklepu meblowego Maxii Home"
      class="nav__logo--simple">
    <img src="assets/images/mobile-logo.svg" routerLink="/" alt="Logo sklepu meblowego Maxii Home"
      class="nav__logo--mobile">

    <div class="nav__actions">
      <form class="search" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <input type="text" id="phrase" name="phrase" ngModel #phrase="ngModel" class="search__input"
          placeholder="Szukaj mebli...">
        <button type="submit" class="search__button">
          <img src="assets/images/search.svg" alt="Szukaj" class="search__icon">
        </button>
      </form>

      <a class="nav__action__link">
        <img class="nav__action__img" routerLink="/zapisane-produkty" src="assets/images/favourite.svg"
          alt="Zapisane produkty">
      </a>

      <a class="nav__action__link">
        <img class="nav__action__img" routerLink="/konto" src="assets/images/person.svg" alt="Dane konta">
      </a>

      <a class="nav__action__link nav__action__link--cart" routerLink="/koszyk">
        <img class="nav__action__img" src="assets/images/cart.svg" alt="Koszyk">
        <div class="amount">{{ cartItems }}</div>
      </a>
    </div>
  </div>
</div>

<div class="sidebar" [ngClass]="{'visible': isSidebarVisible === true}">
  <div class="sidebar__background" (click)="isSidebarVisible = false;"></div>
  <img src="assets/images/close.svg" alt="Zamknij menu" class="close" (click)="isSidebarVisible = false;">
  <img src="assets/images/logo-light.svg" alt="Logo sklepu meblowego Maxii Home" class="sidebar__logo">

  <div class="sidebar__menu">
    <div class="sidebar__menu__item">
      <span (click)="isDropdownActive = !isDropdownActive"><img src="assets/images/categories.svg">kategorie <img
          class="arrow" src="assets/images/arrow-light.svg"></span>
      <ul *ngIf="isDropdownActive">
        <li *ngFor="let category of categories"><a [routerLink]="['/kategoria', category.id]"
            class="category__item">{{ category.name }}</a></li>
      </ul>
    </div>
    <div class="sidebar__menu__item">
      <a routerLink="/o-nas"><img src="assets/images/info.svg">o nas</a>
    </div>
    <div class="sidebar__menu__item">
      <a routerLink="/kontakt"><img src="assets/images/phone.svg">kontakt</a>
    </div>
    <div class="sidebar__menu__item">
      <a routerLink="/zapisane-produkty"><img src="assets/images/favourite.svg">zapisane produkty</a>
    </div>
    <div class="sidebar__menu__item">
      <a routerLink="/konto"><img src="assets/images/person.svg">konto</a>
    </div>
    <div class="sidebar__menu__item">
      <a routerLink="/koszyk"><img src="assets/images/cart.svg">koszyk</a>
    </div>
    <div class="sidebar__menu__item" *ngIf="isLoggedIn">
      <a class="btn btn--primary" (click)="logout()">Wyloguj się</a>
    </div>
  </div>
</div>

<div class="mobile-nav">
  <div class="mobile-nav__container">
    <a class="mobile-nav__item">
      <img src="assets/images/home.svg" routerLink="/" routerLinkActive="active" alt="Strona główna">
    </a>

    <a class="mobile-nav__item">
      <img src="assets/images/cart.svg" routerLink="/koszyk">
      <div class="amount">{{ cartItems }}</div>
    </a>

    <a class="mobile-nav__item">
      <img src="assets/images/favourite.svg" routerLink="/zapisane-produkty" routerLinkActive="active"
        alt="Zapisane produkty">
    </a>

    <a class="mobile-nav__item">
      <img src="assets/images/person.svg" routerLink="/konto" routerLinkActive="active" alt="Konto">
    </a>

    <a class="mobile-nav__item" (click)="isSidebarVisible = !isSidebarVisible;">
      <img src="assets/images/menu.svg" alt="Menu">
    </a>
  </div>
</div>
