<div class="regulations">
  <h2 class="regulations__heading heading heading--secondary">Regulamin korzystania z serwisu</h2>
  <div class="content">
    <ol class="list">
      <li class="list__item">
        Postanowienia ogólne
        <ol class="list__secondary">
          <li class="list__secondary__item">
            1. Sklep internetowy [dalej "Sklep"] prowadzi sprzedaż detaliczną za pośrednictwem Internetu, na podstawie
            niniejszego Regulaminu [dalej "Regulamin"].
          </li>
        </ol>
      </li>
    </ol>
  </div>
</div>
