@import "/src/assets/scss/typography";

.regulations {
  padding: 0 5vw;
  max-width: 130rem;
  margin: 0 auto;
  margin-top: 10rem;
  font-size: 1.6rem;

  &__heading {
    border-bottom: 1px solid var(--color-dark);
    color: var(--color-dark);
    margin-bottom: 3rem;
  }

  .content {
    padding: 0 1vw;
  }

  .list {
    & > ul {
      margin-left: 2rem;
    }

    ul li ul li {
      margin-left: 2rem;
    }

    a {
      color: var(--color-primary-darker);
      font-weight: 700;
    }

    &__item {
      margin-bottom: 1rem;
    }

    &__item:not(:first-of-type) {
      margin-top: 2rem;
    }
  }
}
