<div class="about-us">
  <h2 class="about-us__heading heading heading--secondary">O nas</h2>
  <div class="content">
    <div class="circle"></div>
    <p class="paragraph">
      Maxii Home oferuje
      <span class="text--primary">nowoczesne meble do salonu</span>, sypialni,
      pokoju dziecięcego czy domowego biura. Celem, który przyświecał nam,
      podczas tworzenia
      <span class="text--primary">meblowego sklepu online</span> było
      zaoferowanie każdemu z odwiedzających nas klientów kompletnego asortymentu
      wyposażenia najwyższej jakości w najlepszych na rynku cenach. U nas kupisz
      nowoczesne komplety wypoczynkowe, meble dziecięce, jak również wyposażenie
      do przedpokoju i innych pomieszczeń.<br /><br />

      Dzięki nam nie tracisz czasu na wielogodzinne wędrówki po sklepach w
      poszukiwaniu idealnych mebli oraz dodatków.
      <span class="text--primary">Internetowy sklep meblowy</span> Kupujemy
      Meble pozwala na wygodne kupowanie bez wychodzenia z domu. Potrzebujesz
      jedynie komputera/tabletu/smartfona z dostępem do Internetu oraz odrobiny
      wolnego czasu, który spędzisz wygodnie w swoim ulubionym fotelu lub na
      kanapie.<br /><br />

      Warto dodać, że z naszą pomocą kupisz również
      <span class="text--primary">meble na raty</span>, co oznacza, że nawet
      jeśli nie dysponujesz aktualnie odpowiednią kwotą na koncie, możesz
      cieszyć się z nowo zakupionego wyposażenia. Prościej już się naprawdę nie
      da!<br /><br />

      Siedzibą naszego meblowego sklepu online jest
      <span class="text--primary">Racibórz</span>, jednak z racji specyfiki
      prowadzonej działalności obsługujemy nie tylko zamówienia ze
      <span class="text--primary">śląska</span>, ale również z innych części
      naszego kraju. A wszystko to szybko, sprawnie i terminowo!
    </p>
    <div class="location">
      <h3 class="location__header">Lokalizacja</h3>
      <iframe
        class="location__map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2560.1195583425806!2d18.21646961594827!3d50.08404837942649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4711681d6921b15b%3A0x3d771e0d9b460884!2sTadeusza%20Ko%C5%9Bciuszki%2032%2C%2047-400%20Racib%C3%B3rz!5e0!3m2!1spl!2spl!4v1650039423742!5m2!1spl!2spl"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
