<div class="room container" *ngIf="!isLoading && room">
  <app-pagination
    [pageName]="room.name"
    [type]="'rooms'"
    [options]="options"
    [products]="products"
    [totalItems]="totalItems"
    [priceMax]="priceMax"
    [widthMin]="widthMin"
    [widthMax]="widthMax"
    [depthMin]="depthMin"
    [depthMax]="depthMax"
    [heightMin]="heightMin"
    [heightMax]="heightMax"
    (newOptions)="search($event)"
    [productsLoading]="productsLoading"
  ></app-pagination>
</div>

<div class="loading" *ngIf="isLoading">
  <div class="lds-roller lds-roller--dark">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
