<div class="footer">
  <div class="footer__container container">
    <div class="footer__item footer__item--desc">
      <img src="assets/images/logo-light.svg" routerLink="/" alt="Logo sklepu meblowego Maxii Home"
        class="footer__logo">
      <div>
        <h4 class="heading heading--fourth">Maxii Home - Salon Meblowy</h4>
        <p class="footer__paragraph">
          Maxii Home „RAMETA”
          istnieje od 2005 roku. Od tego momentu cały czas stawiamy na rozwój naszej firmy, poszerzamy nasz asortyment i
          zdobywamy najlepszych producentów.
          Staramy się wyjść naprzeciw wymaganiom i oczekiwaniom naszych Klientów.
        </p>
      </div>
    </div>
    <div class="footer__item">
      <h3 class="heading heading--tertiary footer__heading">Pomoc</h3>
      <ul class="footer__list">
        <li class="footer__list__item"><a routerLink="">FAQ</a></li>
        <li class="footer__list__item"><a routerLink="">Regulamin</a></li>
        <li class="footer__list__item"><a routerLink="">Polityka prywatności</a></li>
      </ul>
    </div>
    <div class="footer__item">
      <h3 class="heading heading--tertiary footer__heading">Moje konto</h3>
      <ul class="footer__list">
        <li class="footer__list__item"><a routerLink="">Logowanie</a></li>
        <li class="footer__list__item"><a routerLink="">Rejestracja</a></li>
        <li class="footer__list__item"><a routerLink="">Historia zamówień</a></li>
        <li class="footer__list__item"><a routerLink="">Zapisane produkty</a></li>
      </ul>
    </div>
    <div class="footer__item">
      <h3 class="heading heading--tertiary footer__heading">Informacje</h3>
      <ul class="footer__list">
        <li class="footer__list__item"><a routerLink="">O nas</a></li>
        <li class="footer__list__item"><a routerLink="">Kontakt</a></li>
      </ul>
    </div>
    <div class="footer__item">
      <h3 class="heading heading--tertiary footer__heading">Kontakt</h3>
      <ul class="footer__list">
        <li class="footer__list__item footer__list__item--mail"><a href="mailto:mail@mail.com">mail@mail.com</a></li>
        <li class="footer__list__item footer__list__item--phone"><a href="tel:+48 123 456 789">tel.: 123 456 789</a>
        </li>
      </ul>

      <div class="footer__hours">
        <h4>Godziny otwarcia</h4>
        <div class="footer__hour">Poniedziałek - Piątek 8:00 - 16:00</div>
        <div class="footer__hour">Sobota - Niedziela 9:00 - 18:00</div>
      </div>
    </div>
  </div>
</div>
