<div class="footer">
  <div class="footer__container container">
    <div class="footer__item footer__item--desc">
      <img src="assets/images/logo-light.svg" routerLink="/" alt="Logo sklepu meblowego Maxii Home"
        class="footer__logo">
      <div>
        <h4 class="heading heading--fourth">Maxii Home - Salon Meblowy</h4>
        <p class="footer__paragraph">
          Maxii Home „RAMETA”
          istnieje od 2005 roku. Od tego momentu cały czas stawiamy na rozwój naszej firmy, poszerzamy nasz asortyment i
          zdobywamy najlepszych producentów.
          Staramy się wyjść naprzeciw wymaganiom i oczekiwaniom naszych Klientów.
        </p>
      </div>
    </div>
    <div class="footer__item">
      <h3 class="heading heading--tertiary footer__heading">Pomoc</h3>
      <ul class="footer__list">
        <li class="footer__list__item"><a routerLink="/faq">FAQ</a></li>
        <li class="footer__list__item"><a routerLink="/regulamin">Regulamin</a></li>
        <li class="footer__list__item"><a routerLink="/polityka-prywatnosci">Polityka prywatności</a></li>
      </ul>
    </div>
    <div class="footer__item">
      <h3 class="heading heading--tertiary footer__heading">Moje konto</h3>
      <ul class="footer__list">
        <li class="footer__list__item"><a routerLink="/autoryzacja">Logowanie</a></li>
        <li class="footer__list__item"><a routerLink="/autoryzacja">Rejestracja</a></li>
        <li class="footer__list__item"><a routerLink="">Historia zamówień</a></li>
        <li class="footer__list__item"><a routerLink="">Zapisane produkty</a></li>
      </ul>
    </div>
    <div class="footer__item">
      <h3 class="heading heading--tertiary footer__heading">Informacje</h3>
      <ul class="footer__list">
        <li class="footer__list__item"><a routerLink="/o-nas">O nas</a></li>
        <li class="footer__list__item"><a routerLink="/kontakt">Kontakt</a></li>
      </ul>
    </div>
    <div class="footer__item">
      <h3 class="heading heading--tertiary footer__heading">Kontakt</h3>
      <ul class="footer__list">
        <li class="footer__list__item footer__list__item--mail"><a
            href="mailto:rametasklep1@wp.pl">rametasklep1@wp.pl</a></li>
        <li class="footer__list__item footer__list__item--phone"><a href="tel:+48 885 855 755">tel.: 885 855 755</a>
        </li>
      </ul>

      <div class="footer__hours">
        <h4>Godziny otwarcia</h4>
        <div class="footer__hour">Poniedziałek - Piątek 8:00 - 16:00</div>
        <div class="footer__hour">Sobota - Niedziela 9:00 - 18:00</div>
      </div>
    </div>
  </div>
</div>
