<div class="faq">
  <h2 class="faq__heading heading heading--secondary">Pytania i odpowiedzi</h2>
  <div class="content" *ngIf="!isLoading">
    <div class="question" *ngFor="let faq of faqs">
      <div class="question__header" (click)="toggleClass($event,'active')">{{faq.question}} <img
          src="assets/images/arrow.svg" alt="Rozwiń pytanie"></div>
      <div class="question__content">
        {{ faq.answer }}
      </div>
    </div>
  </div>

  <div class="loading" *ngIf="isLoading">
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
