@import "/src/assets/scss/typography";
@import "/src/assets/scss/loading-spinner";

.faq {
  padding: 0 5vw;
  max-width: 130rem;
  margin: 0 auto;
  margin-top: 10rem;
  font-size: 1.6rem;
  position: relative;

  &__heading {
    border-bottom: 1px solid var(--color-dark);
    color: var(--color-dark);
    margin-bottom: 4rem;
  }

  .question {
    border-bottom: 1px solid var(--color-primary);
    margin-bottom: 1.6rem;

    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }

    &__header {
      font-size: 1.8rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 700;
      margin-bottom: 1rem;
      cursor: pointer;
      padding: .5rem 0;

      img {
        transform: rotate(270deg);
        transition: transform .2s ease-in-out;
      }
    }

    &__content {
      display: none;
      margin-bottom: 0.7rem;
    }

    &__header.active {
      img {
        transform: rotate(90deg);
      }

      &+.question__content {
        display: block;
      }
    }
  }
}

.lds-roller div:after {
  background: var(--color-dark);
}
