<div class="faq">
  <h2 class="faq__heading heading heading--secondary">Pytania i odpowiedzi</h2>
  <div class="content">
    <div class="question">
      <div class="question__header" (click)="toggleClass($event,'active')">Pytanie <img src="assets/images/arrow.svg"
          alt="Rozwiń pytanie"></div>
      <div class="question__content">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint accusantium harum esse corporis soluta ducimus
        voluptatem corrupti laboriosam sequi eaque iusto, tenetur amet velit blanditiis hic tempora voluptatum a minus.
      </div>
    </div>
  </div>
</div>
